@import "mocha.css";

* {
	border: 5px;
	border-radius: 5px;
	min-height: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
}

window#waybar {
	color: @text;
	background: transparent;
}

#tags button {
	margin: 2px;
	padding: 0 0.2rem;
	color: @subtext1;
	background-color: @surface0;
	border-bottom: 4px solid transparent;
}

#tags button.focused {
	color: @sky;
	background-color: @surface1;
	border-bottom-color: @sky
}

#tags button.urget {
	color: @red;
}

#mode,
#window
#privacy,
#clock,
#temperature,
#custom-dnd,
#custom-recording,
#tray,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#battery,
#upower {
	background-color: @surface0;
	padding: 0.4rem 0.6rem;
	margin: 2px;
}

#clock {
	color: @blue;
}

#battery {
	color: @green;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @yellow;
}

#pulseaudio {
	color: @pink;
}

#tray {
	margin-right: 10px;
}
