* {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	min-height: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
}

window#waybar {
	color: #cdd6f4;
    background-color: transparent;
}

#mode,
#tags button,
#window,
#clock,
#privacy,
#custom-recording,
#custom-dnd,
#tray,
#mpris,
#wireplumber,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#upower {
	background-color: #181825;
	padding: 0.4rem 0.6rem 0.2rem 0.6rem;
	border-bottom: 0.32rem solid #181825;
}

#tags button {
	background-color: #1e1e2e;
	border-bottom-color: #1e1e2e;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

#mode {
	margin-left: 1rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

#mode,
#tray,
#mpris,
#custom-dnd,
#clock.time {
	border-bottom-right-radius: 0.32rem;
}

#mode,
#tray,
#mpris,
#custom-dnd,
#wireplumber,
#clock.date {
	border-bottom-left-radius: 0.32rem;
}

#tags button.focused {
	background-color: #181825;
	border-bottom-color: #b4befe;
}

#tags button.urgent,
#privacy,
#custom-recording {
	border-bottom-color: #f38ba8;
}

#tray,
#mpris,
#privacy,
#custom-dnd,
#custom-recording {
	margin-right: 1rem;
}
