[Desktop Entry]
Type=Application
Name=Burp Suite Professional Free
MimeType=application/x-extension-burp;
Icon=/home/omar/programs/burpsuitepro/.install4j/BurpSuitePro.png
Categories=Application;
StartupWMClass=install4j-burp-StartBurp
Exec="/home/omar/programs/burpsuitepro/BurpSuitePro" %U
